---
import Layout from "../layouts/Layout.astro";
import { UserInfoForm } from "../components/solid/form/UserInfoForm";

export const prerender = false;

const sessionCookie = Astro.cookies.get("session");
const continueCookie = Astro.cookies.get("continue_registration");

if (sessionCookie || !continueCookie) {
  return Astro.redirect("/register");
}

const email = continueCookie.value;
---

<Layout title="Auth">
  <main>
    <h1>Finish!</h1>
    <div class="container">
      <h2>{email}</h2>
      <UserInfoForm client:load />
      <!-- <LoginForm client:load /> -->
    </div>
  </main>
</Layout>

<style>
  h2 {
    font-size: 2rem;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    margin-bottom: 1em;
  }
</style>
