---
import Layout from "../layouts/Layout.astro";
import { LoginForm } from "../components/solid/form/LoginForm";

export const prerender = false;

if (Astro.cookies.get("session")) {
  return Astro.redirect("/");
}
---

<Layout title="Auth">
  <main>
    <h1>Authenticate</h1>
    <div class="container">
      <LoginForm client:load />
      <div>
        <a href="/register" class="link">No account? Register</a>
      </div>
    </div>
  </main>
</Layout>
