---
import Layout from "../layouts/Layout.astro";
import { RegisterForm } from "../components/solid/form/RegisterForm";

export const prerender = false;

const sessionCookie = Astro.cookies.get("session");
const emailVerificationCookie = Astro.cookies.get("email_verification");
const continueCookie = Astro.cookies.get("continue_registration");

if (sessionCookie) {
  return Astro.redirect("/");
}

if (emailVerificationCookie) {
  return Astro.redirect("/verify");
}

if (continueCookie) {
  return Astro.redirect("/finish-register");
}
---

<Layout title="Auth">
  <main>
    <h1>Registration</h1>
    <div class="container">
      <RegisterForm client:load />
      <div>
        <a href="/login" class="link">Already have an account? Login</a>
      </div>
    </div>
  </main>
</Layout>
