---
import Layout from "../layouts/Layout.astro";
import { VerifyForm } from "../components/solid/form/VerifyForm";

export const prerender = false;

const sessionCookie = Astro.cookies.get("session");
const continueCookie = Astro.cookies.get("continue_registration");
const emailVerificationCookie = Astro.cookies.get("email_verification");

if (continueCookie) {
  return Astro.redirect("/finish-register");
}

if (sessionCookie || !emailVerificationCookie) {
  return Astro.redirect("/register");
}
---

<Layout title="Auth">
  <main>
    <h1>Verify email</h1>
    <div class="container">
      <VerifyForm client:load />
    </div>
  </main>
</Layout>
